<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" packages="neo.log.log4j2">
    <Properties>
        <Property name="format1">%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %-5p %m%n</Property>
        <Property name="format2">%d{yyyy/MM/dd HH:mm:ss.SSS} [TR] %-5p %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>${format1}</pattern>
            </PatternLayout>
        </Console>
        <DbgViewAppender name="DbgView" >
            <PatternLayout>
                <pattern>${format2}</pattern>
            </PatternLayout>
        </DbgViewAppender>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="DbgView" />
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>